.eventsParent{
    font-size: 1rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 80vh;
    flex-wrap: wrap;

    .verse {
        font-size: 0.5rem;
    }
    
    .greeting {
        text-align: left;
    }

    .events {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
    }

    .eventsContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        line-height: 2;
        font-size: 0.8em;
        
        .wedding {
            width: 100%;
            padding: 10px;
            .title {
                font-weight: bold;
                margin-bottom: 10px;
            }
            .date {
                text-align: left;
                .dateLabel {
                    font-weight: bold;
                }
            }
            .place {
                text-align: left;
                .placeLabel {
                    font-weight: bold;
                }
            }
            .time {
                text-align: left;
                .timeLabel {
                    font-weight: bold;
                }
            }
        }

        .reception {
            width: 100%;
            padding: 10px;
            .title {
                font-weight: bold;
                margin-bottom: 10px;
            }
            .date {
                text-align: left;
                .dateLabel {
                    font-weight: bold;
                }
            }
            .place {
                text-align: left;
                .placeLabel {
                    font-weight: bold;
                }
            }
            .time {
                text-align: left;
                .timeLabel {
                    font-weight: bold;
                }
            }
        }
    }

    .contacts {
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
    }

    .contactsContaniner {
        width: 100%;
        display: flex;
        flex-direction: row;
        .contactsRow {
            width: 100%;
            display: flex;
            flex-direction: column;
            font-size: 0.8rem;
            line-height: 2;
            div {
                text-align: left;
            }
        }
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
        
        .previous {
            padding: 10px;
            animation:blinkingText 0.8s infinite;
        }
        .next {
            padding: 10px;
            animation:blinkingText 0.8s infinite;
        }

        @keyframes blinkingText{
            0%{     color: #000;    }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: #000;    }
        }
        
    }



    // for non mobile screens. 
    @media (min-width: 600px) {
        width: 40%;   
        margin: 0 auto;
    }
}