.parent {
    font-size: 1rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 90vh;
    flex-wrap: wrap;

    .helloWorld {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .text {
            text-align: left;
        }
        .android {
            display: block;
            text-indent: -9999px;
            width: 20px;
            height: 20px;
            background: url('../assets/images/android.svg');
            background-size: 20px 20px;
        }
    }

    p {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        cursor:text;
        font-size: 0.9rem;
        resize: none;
        text-align: justify;
    }

    .verse {
        font-size: 0.5rem;
    }

    .firstLine {
        p{
            line-height: 1.5;
        }
    }

    .secondLine {
        p{
            line-height: 1.5;
        }
    }

    .names {
        p{
            font-size: 1.3rem;
            text-align: center;
            font-weight: bold;
        }
    }

    .venue {
        div {
            p {
                line-height: 1.5;
                text-align: center;
            }
        }
    }

    .next {
        height: 10%;
        text-align: right;
        animation:blinkingText 0.8s infinite;
    }

    @keyframes blinkingText{
        0%{     color: #000;    }
        49%{    color: transparent; }
        50%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #000;    }
    }

    // for non mobile screens. 
    @media (min-width: 600px) {
        width: 40%;   
        margin: 0 auto;
    }
}