$to_vadasery_line_height: 10vh;

.routeMapParent {
    font-size: 1rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 90vh;
    flex-wrap: wrap;
    word-wrap: break-word;

    .verse {
        font-size: 0.5rem;
    }

    .route {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 0.8rem;
        text-align: left;
        align-content: space-between;
        height: 75%;
        justify-content: space-between;

        .source {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;


            .trivendaram {
                width: 30%;
                display: flex;
                flex-direction: column;

                .trivendramAirport {
                    border: dashed blue 0.5px;
                    padding: 10px;
                }
                .line{
                    .note {
                        padding: 5px;
                        font-size: 0.5rem;
                        border: dashed gray 0.5px;
                    }
                    .verticalLine {
                        height: 30px;
                        width: 2px;
                        border-left: dashed black 0.5px;
                        margin-left: 50%;
                    } 
                }

                .trivendarmBustand {
                    border: dashed blue 0.5px;
                    padding: 10px;
                }
            }
            
            .bangalore {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 30%;
                .routeMap {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    white-space: nowrap;
                    line-height: 2;
                    .title {
                        margin-left: 80%;
                        font-size: 0.9rem;
                    }
                    .launchMap {
                        margin-left: 45%;
                        font-size: 0.6rem;
                        color: blue;
                    }
                }
                .bangaloreLocation {
                    border: dashed blue 0.5px;
                    padding: 10px;
                }
            }

            .chennai {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 30%;
                div {
                    border: dashed blue 0.5px;
                    padding: 10px;
                }
            }
        }

        .lineToVadaseri {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            .trivendramToVadaseri {
                width: 30%;
                .note {
                    padding: 5px;
                    font-size: 0.5rem;
                    border: dashed gray 0.5px;
                }
                .verticalLine {
                    height: $to_vadasery_line_height;
                    width: 2px;
                    border-left: dashed black 0.5px;
                    margin-left: 50%;
                } 
            }
            .bangaloreToVadaseri {
                width: 30%;
                .note {
                    padding: 5px;
                    font-size: 0.5rem;
                    border: dashed gray 0.5px;
                }
                .verticalLine{
                    height: $to_vadasery_line_height;
                    width: 2px;
                    border-left: dashed black 0.5px;
                    margin-left: 50%;
                } 
            }
            .chennaiToVadaseri {
                width: 30%;
                .note {
                    padding: 5px;
                    font-size: 0.5rem;
                    border: dashed gray 0.5px;
                }
                .verticalLine{
                    height: $to_vadasery_line_height;
                    width: 2px;
                    border-left: dashed black 0.5px;
                    margin-left: 50%;
                } 
            }
        }

        .vadaseri{
            text-align: center;
            border: dashed blue 0.5px;
            padding: 10px;
        }

        .lineToDestination {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .vadaseriToChruch {
                .note {
                    padding: 5px;
                    font-size: 0.5rem;
                    border: dashed gray 0.5px;
                }
                .verticalLine{
                    height: 25px;
                    width: 2px;
                    border-left: dashed black 0.5px;
                    margin-left: 50%;
                }
            }
            .vadaseriToSaral {
                .note {
                    padding: 5px;
                    font-size: 0.5rem;
                    border: dashed gray 0.5px;
                }
                .verticalLine{
                    height: 25px;
                    width: 2px;
                    border-left: dashed black 0.5px;
                    margin-left: 50%;
                }
            }
        }

        .eventLocations {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .homeChurch {
                margin-right: 10px;
                border: dashed blue 0.5px;
                padding: 10px;
            }
            .saral {
                margin-left: 10px;
                border: dashed blue 0.5px;
                padding: 10px;
            }
        }
    }
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 20px;

        .previous {
            padding: 10px;
            animation:blinkingText 0.8s infinite;
        }
        .next {
            padding: 10px;
            animation:blinkingText 0.8s infinite;
        }

        @keyframes blinkingText{
            0%{     color: #000;    }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: #000;    }
        }
        
    }

    // for non mobile screens. 
    @media (min-width: 600px) {
        width: 40%;   
        margin: 0 auto;

        .route {
            .source {
                .bangalore {
                    .routeMap {
                        .title {
                            margin-left: 60%;
                        }
                    }
                }
            }
        }
    }
}