.visitParent {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    line-height: 2;
    padding: 30px;

    .verse {
        text-align: center;
        font-size: 0.5rem;
    }

    .titleContainer {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        .title {
            font-size: 1rem;
        }
        .note {
            font-size: 0.6rem;
            color: blue;
        }
    }

    .placeContainer {
        
        .place {
            display: flex;
            flex-direction: column;
            .name {
                font-size: 0.8rem;
            }
            .nearbyPlaces {
                font-size: 0.5rem;
            }
            .line {
                width: 100%;
                height: 1px;
                border-bottom: dashed black 0.5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
        
        .previous {
            font-size: 1rem;
            animation:blinkingText 0.8s infinite;
            padding: 10px;
        }

        @keyframes blinkingText{
            0%{     color: #000;    }
            49%{    color: transparent; }
            50%{    color: transparent; }
            99%{    color:transparent;  }
            100%{   color: #000;    }
        }
    }

    // for non mobile screens. 
    @media (min-width: 600px) {
        width: 40%;   
        margin: 0 auto;

        .navigation {
            margin-top: 50px;
        }
    }
}